
.back{
    background-color: #141414;

 
 }


 

 .container-fluid{
    margin-top:12%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #141414;;
 }
 
 
 .btn{
     color:#8c8c8c;
     background-color: #141414;
     font-size: 23px;

     
     border-style: solid;
     border-color: #8c8c8c;
     border-width: 1px;
     border-radius: 2px;


     width:238px;
     height:51px;
     margin-left:10%;
     margin-right:10%;
     margin-top:45px;
 }

 .btn:hover{
    color: white;
    background-color: #141414;
    
    border-color: white;
 }
 
 #signin{
     font-size:65px;
     font-weight:700px;
     text-align: center;
 }
 
 
 
 #pfp{
     border-radius: 8px;
 }

 #user{
    color:#8c8c8c;
    margin-top:20px;
    font-size:25px;
 }


 .row.a{
    margin-top: 50px;
    
 }

 .row.flex-nowrap{
    margin-top: 50px;
 }
 
.col{
    text-align: center;
}
